body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f6f8;
  margin: 0;
  padding: 0 1rem;
 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

h1 {
  color: #F5FFFA;
  text-align: center;
  margin-top: 1rem;
  max-width: 800px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 800;
  font-style:normal;
   font-size: 55px;
}


h2{
   color: #F5FFFA;
  text-align: center;
  margin-top: 1rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style:normal;
   font-size: 30px;

}


p{
   color: white;
  text-align: center;
  margin-top: 1rem;
  max-width: 800px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
  font-style:normal;
   font-size: 20px;
}


form {
  background: #548596;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

input, button, select {
  padding: 0.5rem;
  margin: 0.25rem 0;
  border: 1px solid #c8c4a3;
  border-radius: 6px;
  font-size: 1rem;
}

button {
  cursor: pointer;
  background-color: #c8c4a3;
  color: white;
  border: none;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #33737c;
}


.attendance-sections {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
  max-width: 900px;
}

#present-section {
  flex: 1;
  min-width: 300px;
  background: #89aaba;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}


#absent-section{
  flex: 1;
  min-width: 300px;
  background: #cbd4cb;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}





/* Bottom section */
.student-list {
  margin-top: auto;
  padding: 1rem;
  width: 100%;
  max-width: 900px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  margin-bottom: 2rem;
}

.student-item {
  background: #fdfdfb;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  margin-bottom: 1rem;
}

.student-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.student-details.hidden {
  display: none;
}

.present {
  color: green;
  font-weight: bold;
}

.absent {
  color: red;
  font-weight: bold;
}

.student-buttons {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.5rem;
}

#checkout-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: none;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 1rem;
  border-radius: 10px;
  max-width: 400px;
  width: 90%;
}

.modal-open {
  overflow: hidden;
}
